.globalHeader {
  background-color: #006;
  box-sizing: border-box;
  color: #ccc;
  font-size: 12px;
  height: 20px;
  left: 0;
  line-height: 20px;
  position: absolute;
  top: 0;
  width: 100%;

  a {
    color: #fff;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  &-app {
    color: #fff;
    float: left;
    font-weight: bold;
    margin-left: 1em;
  }
  &-info {
    float: right;
  }
  &-info-item {
    display: inline-block;
    margin-right: 1em;
  }
}

.globalHeader-menu {
  display: inline-block;
  height: 20px;
  padding: 0 2px;
  position: relative;
  z-index: 1;

  &-title,
  &-list {
    background-color: #006;
  }
  &-title {
    cursor: default;
    text-align: right;
    padding: 0 5px;
    position: relative;
    z-index: 1;
  }
  &-list {
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    display: none;
    min-width: 100%;
    padding-top: 1px;
    position: absolute;
    top: 20px;
    right: 0;
    width: auto;
  }
  &-item {
    display: block;
    padding: 0.2em 0.5em;
    white-space: nowrap;
  }
  &:hover &-title,
  &.hover &-title,
  &-list {
    border: solid 1px #99c;
  }
  &:hover &-title,
  &.hover &-title {
    border-bottom-style: none;
    padding: 0 4px;
  }
  &:hover &-list,
  &.hover &-list {
    display: block;
  }
}
